* { padding: 0; margin: 0; box-sizing: border-box; }

html, body { width: 100%; height: 100% }

.vercial > .vercial-wrapper { width: 100%; height: 100%; }
.vercial > .vercial-wrapper > div { float: left; }

.w100 { width: 100px; }
.w110 { width: 110px; }

.W10 { width: 10%; }
.W20 { width: 20%; }
.W30 { width: 30%; }
.W40 { width: 40%; }
.W50 { width: 50%; }
.W60 { width: 60%; }
.W70 { width: 70%; }
.W80 { width: 80%; }
.W90 { width: 90%; }
.W100 { width: 100%; }