<div class="modal-form row">
  <form id="menu_form" method="POST" class="col s12" onsubmit="return false;">
    <div class="row">
      <div class="input-field col s12">
        <input value="전체 메뉴" id="full_menu" name="full_menu" type="text" class="unused" disabled>
        <label for="full_menu">전체 메뉴</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="menu_grp_id" name="menu_grp_id" type="text" class="validate">
        <label for="menu_grp_id">메뉴그룹ID</label>
      </div>
      <div class="input-field col s6">
        <input id="menu_id" name="menu_id" type="text" class="validate">
        <label for="menu_id">메뉴ID</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="menu_name" name="menu_name" type="text" class="validate">
        <label for="menu_name">메뉴명</label>
      </div>
      <div class="input-field col s6">
        <input id="sort_order" name="sort_order" type="text" class="validate">
        <label for="sort_order">정렬순서</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="index" name="index" type="text" class="validate">
        <label for="index">인덱스</label>
      </div>
    </div>
  </form>
</div>