<header>
  <div class="wrapper p10">
    header
  </div>
</header>
<section class="vercial">
  <div class="vercial-wrapper">
    <div id="navigator" class="vertical-left">
      <div class="wrapper p10">
        <button id="btn_get_data">contents</button>
        <button id="btn_get_product_list">product_list</button>
      </div>
    </div>
    <div id="content" class="vertical-right">
      <div class="wrapper p10">
        right
      </div>
    </div>
  </div>
</section>
<footer id="footer">
  <div class="wrapper p10">
    footer
  </div>
</footer>